<div class="profile-container">
  {{> "exit-button/exit-button" href = url}}
  <div class="profile-container__content">
    <div class="profile-container__content-box">
      {{#each avatar}}
        <img class="profile-container__content-box-image" src="{{avatar}}" />
      {{/each}}

      {{#if name}}
        <b class="profile-container__content-box-name">{{name}}</b>
      {{/if}}

      <div>

        {{#if name}}

          {{#each profile}}

            <input
              class="profile-container__content-box-uneditable"
              id="{{field}}"
              type="{{field}} "
              placeholder="{{fieldValue}}"
              disabled
            />

          {{/each}}

        {{else if change}}

          {{#each changePassword}}

            {{> "input-field/input-field" }}

          {{/each}}

        {{else}}

          {{#each profile}}

            {{> "input-field/input-field" }}

          {{/each}}

        {{/if}}
      </div>

      <div class="profile-container__content-box-actions">
        {{> @partial-block }}
      </div>

    </div>
  </div>
</div>